ul {
  list-style: none;
}

mdb-navbar {
  color: #ffa500;
}


body {
  padding: 2em;
}

ul {
  list-style-type:none;
  width:100%;
  margin-left: 45%;
  padding:0;
}

ul li a {
  color:#ffcc00;
}
h1 {
  margin-top:50px;
}
.new-recipe-container {
  background: #ccc;
  float: left;
  width: 100%;
  color: #000;
  border-left: #000 solid 1px;
  border-radius: 0 5px 5px 0;
  input, textarea {
    display:block;
    width: 100%;
    margin-bottom:15px;
    padding:10px;
    background:none;
    border-bottom: 1px solid #414a59;
    border:0;
    color:#fff;
  }
  input[type='submit'] {
    background-color:#ffa500;
    cursor:pointer;
    color:#000;
    font-weight:bold;
    margin-bottom:50px;
    padding:20px;
  }
}
select option {
  color: #ff8800;
}
select {
 border: solid 1px #ff8800;
}
.middle {
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
}
.middleContent {
  h4{
    text-align: center;
    margin-top: 0;
  }
}
.categoryButtonCollection {
  width: 100%;
  float: left;
  font-weight:bold;
  text-align: center;
  button {
    cursor:pointer;
    margin-top: 1em;
    border: solid 1px #cccccc;
    background: #ffa500;
    border-radius: 5px;
    padding: .5em;
  }
  button:active {
    background-color: white;
  }
  button:focus {
    color: white;
  }
  button:visited {
    color: white;
  }
}
.orange {
  background: #ff8800;
  color: #ffffff;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
0 2px 10px 0 rgba(0, 0, 0, .12);
}

.edit {
  float: right;
}
.fa fa-
.new-recipe-container {
  width: 100%;
}
.sub-container {
  width: 50%;
  float: left;
  padding: 1em;
  #right {
    padding-left: 1.2em;
  }
}
label {
  width: 100%;
  padding: 1em;
}
input, textarea {
  display:block;
  width: 50%;
  margin-bottom:15px;
  padding:10px;
  background:none;
  border-bottom: 1px solid #414a59 !important;
  color:#fff;
}
.inner-container {
  p {
    size: 8px;
    color: #ff8800;
  }

}


@media (max-width: 600px) {
  .module {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
