<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">My CookBook</a>
  <form *ngIf="!(user | async)?.uid" id="form1">
    <input type="email" id="emailID" placeholder="email adres"><br>
    <input id="password" type="password" placeholder="password">
    <br>
  </form>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button (click)="authServiceLoginEmail()" *ngIf="!(user | async)?.uid">Login</button>
        <button (click)="authserviceLogout()" *ngIf="( user| async)?.uid">Logout</button>
      </li>

    </ul>

  </div>

</nav>
