<form [formGroup]="unitCalcForm" novalidate>
  <h2>Choose your units</h2>
  <label>
    From:
    <select formControlName="fromType">
      <option *ngFor="let unit of units" value="{{unit.name}}" (click)="getValueFromSelect(selectedValue.value)">{{unit.name}}</option>
    </select>
    <input formControlName="fromValue" type="number" (inputEvent)="getInput($event)">
    <p *ngIf="unitCalcForm.get('fromValue').hasError('min')">Value has to be > 0</p>
  </label>
  <label>
    To:
    <select formControlName="toType">
      <option *ngFor="let unit of units" value="{{unit.name}}" (click)="getValueFromOutputSelect(selecteOutputValue.value)">{{unit.name}}</option>
    </select>
    <input type="text" value="{{resultConvertion}}">
    <button type="button" (click)="calculate()">Calculate</button>
  </label>
</form>
