
<!--<app-dish-nav></app-dish-nav>-->
<router-outlet></router-outlet>
<div  *ngIf = " viewList == false" class="bounds">
  <div class="content"
       fxLayout="row"
       fxFlexFill>
    <div fxFlex="30" class="secList">
      <app-dashboard (dishEvent)="dishEvent($event)"></app-dashboard>
    </div>
    <div fxFlex="45" class="secIngredients">
      <app-dish-detail [dishType]="dishType"></app-dish-detail>
    </div>
    <div fxFlex="35" class="secUnits">
      <app-unitcalc></app-unitcalc>
    </div>
  </div>
</div>
<!--<app-add-recipe></app-add-recipe>-->

