/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
//nav a {
//  padding: 5px 10px;
//  text-decoration: none;
//  margin-top: 10px;
//  display: inline-block;
//  background-color: #eee;
//  border-radius: 4px;
//}
//nav a:visited, a:link {
//  color: #607D8B;
//}
//nav a:hover {
//  color: #039be5;
//  background-color: #CFD8DC;
//}
//nav a.active {
//  color: #039be5;
//}
.bounds {
  text-align: center;
  position: relative;
}
.content {
  min-width: 300px;
  position: relative;
  top: 2em;
}
.secList {
  background: #ccc;
  color: #000;
  border-right: #000 solid 1px;
  border-radius: 5px 0 0 5px;

}
.secIngredients {
  background: #ccc;
  color: #000;

}
.secUnits {
  background: #ccc;
  color: #000;
  border-left: #000 solid 1px;
  border-radius: 0 5px 5px 0;

}
.secList, .secIngredients, .secUnits {
  padding: 20px;
  text-align: left;
}
