<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light orange lighten-1 sticky-top">
  <logo><a class="navbar-brand" href="#">{{appComp.title}}</a></logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
      </li>
      <!-- logging in form with login in button and logout button-->
      <li class="nav-item" style="margin-right: 1em">
        <form *ngIf="!(user | async)?.uid">
          <div  class="form-group">
            <input type="email" class="form-control" id="email" required placeholder="email address"
                   [value]="email" (input)="changeEmail($event)">
          </div>
        </form>
      <li class="nav-item" style="margin-right: 1em">
        <form *ngIf="!(user | async)?.uid">
          <div class="form-group">
            <input type="password" class="form-control" id="password" required placeholder="password"
                   [value]="password" (input)="currentPassword($event)">
          </div>
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius
           (click)="loginEmail()" *ngIf="!(user | async)?.uid">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius
           (click)="logout()" *ngIf="(user | async)?.uid">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="(user | async)?.uid"
           [routerLink]="['/recipes', {'list': ['recipesList'], 'detail': ['none']}]"
              mdbRippleRadius (click)="sendDishesCategory()" value="Dishes">
          Dishes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" *ngIf="(user | async)?.uid"
           [routerLink]="['/recipes', {'list': ['recipesList'], 'detail': ['none']}]"
           mdbRippleRadius (click)="sendDrinksCategory()" value="Drinks">
          Drinks
        </a>
      </li>
    </ul>
    <form class="form-inline  waves-light" mdbRippleRadius *ngIf="(user | async)?.uid">
      <app-dish-search></app-dish-search>
      <!--<ul class="search-result">-->
        <!--<li *ngFor="let dish of dishes | async">-->
          <!--<a routerLink="/detail/{{dish.id}}">-->
            <!--{{dish.name}}-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    </form>
  </links>
</mdb-navbar>
