<div *ngIf="(user | async)?.uid">
  <h3>Dishes</h3>
  <ul>
    <li *ngFor="let typeOfDish of typesOfDishes"
        [class.selected]="typeOfDish === selectedDish"
        (click)="onSelect(typeOfDish)"
        routerLink="/detail/{{typeOfDish.id}}">
      <div class="module">
        <a>{{typeOfDish.name}}</a>
        <div>
          <ul>

          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

<!--<ul>-->
  <!--<li *ngFor="let dish of typesOfDishes">-->
      <!--routerLink="/detail/{{dish.id}}">-->
    <!--<a>-->
      <!--<div class="module dish">-->
        <!--<h4>{{dish.name}}</h4>-->
      <!--</div>-->
    <!--</a>-->
  <!--</li>-->
<!--</ul>-->

<!--<app-dish-search></app-dish-search>-->
